<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body style="padding: 20px; background-color: rgb(245, 245, 245);">

<div style="padding: 20px; box-shadow: rgb(204, 204, 204) 0 8px 6px -7px; border: 1px solid rgb(210, 210, 210);
            border-radius: 5px; background-color: #FFFFFF">
  <span style="font-weight: bold; color: #083065; font-size: 12px;">Hola $usuario:</span><br/><br/>
  <div style="color: slategrey; font-size: 12px;">
    Su cuenta de usuario con la dirección de correo $correo ha sido creada en el Sistema de Seguimiento del Ministerio de Gobierno.<br/><br/>
    La clave de ingreso al sistema es la siguiente: $clave<br><br>
    Usted puede cambiar su clave una vez que ingrese al sistema.
  </div>
  <br/>
  <div style="font-weight: bold; font-size: 12px;">
    Atentamente<br/>
    Ministerio de Gobierno
  </div>
  <hr />
  <div style="color: dimgray; text-align: center; font-size: 10px;">
    <span style="font-weight: bold;">No responda a este correo electrónico, es un envío automático</span><br/>
    Este correo electrónico fue enviado a través del sistema de notificaciones del Ministerio de Gobierno<br/>
    Quito - Ecuador
  </div>
</div>

</body>
</html>
